<div class="weather-block">
    <ul>
        <li>Temp: {{this.currentTemp}}</li>
        <li>Max: {{this.currentTempMax}}</li>
        <li>Min: {{this.currentTempMin}}</li>
        <li>Icon: {{this.currentIcon}}</li>
        <li>Rain Chance: {{this.currentPrecipProbability}}%</li>
    </ul>
</div>
